<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <title>Inicio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/">Control Usuarios</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/nuevousuario">Agregar Usuario</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center">Registro de Usuario</h1>
          <div class="card-body">
            <form th:action="@{/guardar}" th:object="${usuario}" method="post">
              <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Digite el nombre del Usuario" required>
              </div>
              <div class="form-group">
                <label for="">Apellido:</label>
                <input type="text" name="apellido" th:field="*{apellido}" class="form-control" placeholder="Digite el apellido del Usuario" required>
              </div>
              <div class="form-group">
                <label for="">Fecha de Nacimiento:</label>
                <input type="text" name="fecha" th:field="*{fechaNacimiento}" class="form-control" placeholder="Digite la fecha de nacimiento del Usuario" required>
              </div>
              <div class="form-group">
                <label for="">Id Libro:</label>
                <input type="number" name="idlibro" th:field="*{idlibro}" class="form-control" placeholder="Digite el id del libro" required>
              </div>
              <div class="box-footer">
                <button class="btn btn-success">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
